div#products-list {
  display: flex;
  flex-wrap: wrap;
}

button#previous-page {
  float: left;
}

button#next-page {
  float: right;
}

div.product-container {
  width: 200px;
  margin-bottom: 25px;
}

div.product-name {
  font-weight: bold;
}

div.product-image {
}

div.product-price {
}